.p-7 {
    padding: 7rem;
}

.p-12 {
    padding-top: 12rem;
}

.fs-cart {
    font-size: 5rem;
}

.ms-9 {
    margin-left: 9rem;
    margin-right: 1rem;
}

.ms-n9 {
    margin-left: 1rem;
    margin-right: 9rem;
}

.leftnav-link {
    display: block;
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.leftnav-link:hover {
    text-decoration: underline;
}

.round-button {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    outline: none;
    margin: 2px;
}

.round-button:hover {
    border: 2px solid blue;
}