<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="jakarta.ee/xml/ns/jakartaee"
		 xmlns:xsi="w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="jakarta.ee/xml/ns/jakartaee jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
		 version="6.0" metadata-complete="true">

	<display-name>"CatShop"</display-name>


	<!-- 	<listener> -->
	<!--     	<listener-class>com.sun.faces.config.ConfigureListener</listener-class> -->
	<!-- 	</listener> -->
	<!-- 	<listener> -->
	<!--     	<listener-class>org.jboss.weld.environment.servlet.Listener</listener-class> -->
	<!-- 	</listener> -->

	<welcome-file-list>

		<welcome-file>index.html</welcome-file>
		<welcome-file>index.xhtml</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>


	<!-- Time in seconds that facelets should be checked for changes since last 
		request. A value of -1 disables refresh checking. -->
	<context-param>
		<param-name>jakarta.faces.FACELETS_REFRESH_PERIOD</param-name>
		<param-value>0</param-value>
	</context-param>

	<!-- Set the project stage to "Development", "UnitTest", "SystemTest", or 
		"Production". -->
	<!-- An optional parameter that makes troubleshooting errors much easier. -->
	<!-- You should remove this context parameter before deploying to production! -->
	<context-param>
		<param-name>jakarta.faces.PROJECT_STAGE</param-name>
		<param-value>Development</param-value>
	</context-param>

	<servlet>
		<servlet-name>H2Console</servlet-name>
		<servlet-class>org.h2.server.web.JakartaWebServlet</servlet-class>
		<init-param>
			<param-name>webAllowOthers</param-name>
			<param-value></param-value>
		</init-param>
		<init-param>
			<param-name>trace</param-name>
			<param-value></param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>H2Console</servlet-name>
		<url-pattern>/console/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CreateDatabase</servlet-name>
		<servlet-class>com.shopmeowmeow.presentation.servlets.CreateDatabase</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateDatabase</servlet-name>
		<url-pattern>/create-database</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>

	<listener>
		<listener-class>org.h2.server.web.JakartaDbStarter</listener-class>
	</listener>

	<env-entry>
		<env-entry-name>dataSourceType</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>ORM</env-entry-value>
	</env-entry>

	<env-entry>
		<env-entry-name>db.driver</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>org.h2.Driver</env-entry-value>
	</env-entry>

	<env-entry>
		<env-entry-name>db.url</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>jdbc:h2:./h2/db</env-entry-value>
	</env-entry>

	<env-entry>
		<env-entry-name>db.user</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>sa</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>db.password</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>sa</env-entry-value>
	</env-entry>


</web-app>
